.body {
	-fx-background-color: #ffffff;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 4, 0.0, 0, 0);
}

/********* LOADING-TEXT*******/
.loading {
	-fx-font-size: 24px;
	-fx-font-weight: bold;
	-fx-text-fill: #333333;
	-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

/********* LISTVIEW *******/
.list-cell:filled:selected:focused, .list-cell:filled:selected {
	-fx-background-color: #0dbdd7;
	-fx-text-fill: white;
}

/****************INFO-BOX***************/
.info_box_title{
	-fx-text-fill: #006464;
	-fx-font-size: 16px;
	-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
	-fx-font-weight: bold;
	-fx-text-fill: #333333;
}

.info_ts_title{
	-fx-text-fill: #006464;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-padding: 20 5 0 10;
}

.feature_title {
    -fx-text-fill: #006464;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-padding: 20 5 5 10;
}

.info_box_content{
    -fx-text-fill: #006464;
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
}



/****************Dialog***************/
.dialog {
	-fx-background-color: #F7F7F7;
}

/****************Buttons***************/
.image_btn:hover {
	-fx-background-color: transparent;
	-fx-padding: 5, 5, 5, 5;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.image_btn {
	-fx-background-color: transparent;
	-fx-padding: 5, 5, 5, 5;
}

.image_btn:pressed {
	-fx-background-color: transparent;
	-fx-padding: 6 4 4 6;
}

.run_btn {
	-fx-background-color: #2454A2;
	-fx-text-fill: white;
	-fx-font-size: 16px;
}

.run_btn:hover {
	-fx-background-color: #2454A2;
	-fx-text-fill: white;
	-fx-font-size: 16px;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.run_btn:pressed {
	-fx-background-color: #2454A2;
	-fx-text-fill: white;
	-fx-font-size: 16px;
	-fx-broder: 2px;
	-fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
}

.add_btn {
	-fx-background-color: #2454A2;
	-fx-text-fill: white;
	-fx-font-size: 16px;
	-fx-padding: 5, 10, 5, 10;
}

.add_btn:hover {
	-fx-background-color: #2454A2;
	-fx-text-fill: white;
	-fx-font-size: 16px;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
	-fx-padding: 5, 10, 5, 10;
}

.add_btn:pressed {
	-fx-background-color: #2454A2;
	-fx-text-fill: white;
	-fx-font-size: 16px;
	-fx-broder: 2px;
	-fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
	-fx-padding: 5, 10, 5, 10;
}

.up_btn {
	-fx-background-color: #0dbdd7;
	-fx-text-fill: white;
	-fx-font-size: 16px;
	-fx-padding: 5, 10, 5, 10;
}

.up_btn:hover {
	-fx-background-color: #0dbdd7;
	-fx-text-fill: white;
	-fx-font-size: 16px;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
	-fx-padding: 5, 10, 5, 10;
}

.up_btn:pressed {
	-fx-background-color: #0dbdd7;
	-fx-text-fill: white;
	-fx-font-size: 16px;
	-fx-broder: 2px;
	-fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
	-fx-padding: 5, 10, 5, 10;
}

/****************Tab-Pane***************/
.tab-pane *.tab-header-background {
	-fx-background-color: #f4f4f4;
	-fx-effect: innershadow(one-pass-box, rgba(0, 0, 0, 0.6), 4, 0.0, 0, 0);
}